
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background: #739AC5;
	background-image: url("image.jpg");
	margin: auto;
}

h1 {
	margin: 50px 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 25px;
}

h2 {
	text-align: center;
	vertical-align: middle;
	padding-top: 145px; 
}

#hover-block {
	margin: 100px auto;
	width: 450px;
	height: 320px;
	background: red;
}

#form {
	display: block;
	text-align: center;
}

nav {
	text-align: left;
	margin-bottom: 70px;
}

li {
	display: inline-block;
	margin-right: 25px;
}

li a {
	text-decoration: none;
	color: black;
	letter-spacing: 5px;
	text-transform: uppercase;
	font-size: 15px;
}

p {
	margin: 0 auto 25px auto;
	width: 85%;
	text-align: justify;
	text-align: center
}

.tab {
	padding-left: 30px; 
}

#current {
	color: yellow;
	font-weight: 500;
}